/* rESET
========================================================== */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
/* bODY
========================================================== */
body{
    font-family: sans-serif;
    background: rgb(252, 245, 236);
}
/* hEADER
========================================================== */
.header{
    display: flex;
    justify-content: space-around;
    padding: .5%;
    align-items: center;
}
.header__logo{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    color: #6e3f31;
}
.header__logo h2{
    display: flex;
    margin-top: 8px;
}
.header__nav{
    display: flex;
}
.nav__normal{
    display: flex;
}
.header__nav ul{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}
.header__nav li{
    display: flex;
    box-sizing: border-box;
    flex-direction: row;
    color: #6e3f31;
    margin-right: 25px;
    margin-left: 25px;
    font-size: 20px;
    border: none;
}
.header__nav li:hover{
    color: rgb(175, 172, 155);
    border: 1px rgb(0, 0, 0);
}
/* mAIN
========================================================== */
.main{
    display: flex;
    background-image: url(Cafe1/cafe.jpg);
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    align-items: center;
    justify-content: center;
    padding-top: 14%;
    padding-bottom: 14%;
}
.main__titulo{
    display: flex;
    text-align: center;
    flex-direction: column;
    width: 100%;
    max-width: 1286px;
    color: antiquewhite;
}
.main__titulo h1{
    display: flex;
    justify-content: center;
    font-size: 45px;
    padding-bottom: 10px;
}
.main__titulo p{
    display: flex;
    font-size: 30px;

}
/* mAIN2
========================================================== */
.main2{
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 4%;
}
.main2__titulo{
    display: flex;
    flex-direction: column;
}
.main2__titulo h1{
    font-size: 40px;
    color: #6e3f31;
    padding-bottom: 10px;
}
.main2__titulo p{
    font-size: 25px;
    color: #6e3f31;
}
.main2__produtos{
    display: flex;
    margin-top: 5%;
    justify-content: space-around;
    margin-right: 2%;
    margin-left: 2%;
    position: relative;
    overflow: hidden;
}
.main2__produto1{
    display: block;
    height: 300px;
    width: 300px;
    overflow: hidden;
    border-radius: 10px;
    padding: -10%;
    background: aliceblue;
}
.produto1__imagem{
    display: flex;
    z-index: 2;
    transform: scale(1.2);
    transition: all 240ms ease-in;
}
.main2__produto1:hover .produto1__imagem{
    transform: scale(1);
    opacity: 0.2;
}
.produto1__titulo{
    display: flex;
    flex-direction: column;
    margin-top: 0;
    margin-bottom: -10%;
    padding-left: 5%;
    padding-right: 5%;
    background: none;
    opacity: 0;
    transition: all 180ms ease-in;
    z-index: 1;
}
.main2__produto1:hover .produto1__titulo{
    opacity: 1;
    margin-bottom: 0%;
    margin-top: -60%;
}


.main2__produto2{
    display: block;
    height: 300px;
    width: 300px;
    overflow: hidden;
    border-radius: 10px;
    padding: -10%;
    background: aliceblue;
}
.produto2__imagem{
    display: flex;
    z-index: 1;
    transform: scale(1.2);
    transition: all 240ms ease-in;
}
.main2__produto2:hover .produto2__imagem{
    transform: scale(1);
    opacity: 0.2;
}
.produto2__titulo{
    display: flex;
    flex-direction: column;
    margin-top: 0;
    margin-bottom: -10%;
    padding-left: 5%;
    padding-right: 5%;
    background: none;
    opacity: 0;
    transition: all 180ms ease-in;
    z-index: 1;
}
.main2__produto2:hover .produto2__titulo{
    opacity: 1;
    margin-bottom: 0%;
    margin-top: -60%;
}

.main2__produto3{
    display: block;
    height: 300px;
    width: 300px;
    overflow: hidden;
    border-radius: 10px;
    padding: -10%;
    background: aliceblue;
}
.produto3__imagem{
    display: flex;
    z-index: 1;
    transform: scale(1.2);
    transition: all 240ms ease-in;
}
.main2__produto3:hover .produto3__imagem{
    transform: scale(1);
    opacity: 0.2;
}
.produto3__titulo{
    display: flex;
    flex-direction: column;
    margin-top: 0;
    margin-bottom: -10%;
    padding-left: 5%;
    padding-right: 5%;
    background: none;
    opacity: 0;
    transition: all 180ms ease-in;
    z-index: 1;
}
.main2__produto3:hover .produto3__titulo{
    opacity: 1;
    margin-bottom: 0%;
    margin-top: -60%;
}

/* pRODUTOS 2
===================================*/
.main2__produtos2{
    display: flex;
    margin-top: 6%;
    justify-content: space-around;
    margin-right: 2%;
    margin-left: 2%;
    position: relative;
    overflow: hidden;
}
.main2__produto4{
    display: block;
    height: 300px;
    width: 300px;
    overflow: hidden;
    border-radius: 10px;
    padding: -10%;
    background: aliceblue;
}
.produto4__imagem{
    display: flex;
    z-index: 2;
    transform: scale(1.2);
    transition: all 240ms ease-in;
}
.main2__produto4:hover .produto4__imagem{
    transform: scale(1);
    opacity: 0.2;
}
.produto4__titulo{
    display: flex;
    flex-direction: column;
    margin-top: 0;
    margin-bottom: -10%;
    padding-left: 5%;
    padding-right: 5%;
    background: none;
    opacity: 0;
    transition: all 180ms ease-in;
    z-index: 1;
}
.main2__produto4:hover .produto4__titulo{
    opacity: 1;
    margin-bottom: 0%;
    margin-top: -60%;
}


.main2__produto5{
    display: block;
    height: 300px;
    width: 300px;
    overflow: hidden;
    border-radius: 10px;
    padding: -10%;
    background: aliceblue;
}
.produto5__imagem{
    display: flex;
    z-index: 1;
    transform: scale(1.2);
    transition: all 240ms ease-in;
}
.main2__produto5:hover .produto5__imagem{
    transform: scale(1);
    opacity: 0.2;
}
.produto5__titulo{
    display: flex;
    flex-direction: column;
    margin-top: 0;
    margin-bottom: -10%;
    padding-left: 5%;
    padding-right: 5%;
    background: none;
    opacity: 0;
    transition: all 180ms ease-in;
    z-index: 1;
}
.main2__produto5:hover .produto5__titulo{
    opacity: 1;
    margin-bottom: 0%;
    margin-top: -60%;
}

.main2__produto6{
    display: block;
    height: 300px;
    width: 300px;
    overflow: hidden;
    border-radius: 10px;
    padding: -10%;
    background: aliceblue;
}
.produto6__imagem{
    display: flex;
    z-index: 1;
    transform: scale(1.2);
    transition: all 240ms ease-in;
}
.main2__produto6:hover .produto6__imagem{
    transform: scale(1);
    opacity: 0.2;
}
.produto6__titulo{
    display: flex;
    flex-direction: column;
    margin-top: 0;
    margin-bottom: -10%;
    padding-left: 5%;
    padding-right: 5%;
    background: none;
    opacity: 0;
    transition: all 180ms ease-in;
    z-index: 1;
}
.main2__produto6:hover .produto6__titulo{
    opacity: 1;
    margin-bottom: 0%;
    margin-top: -60%;
}

.loadmore{
    display: flex;
    justify-content: center;
    margin-top: 2%;
}
.loadmore button{
    padding: 9px;
    font-size: 20px;
    border: 1px #6e3f31;
    border-radius: 10px;
    color: #6e3f31;
    background: rgb(253, 244, 228);
    cursor: pointer;
    transition: all 180ms ease-in;
    transform: scale(1);
}
.loadmore button:hover{
    background: wheat;
    transform: scale(1.05);
}

/*eQUIPE
==============================================================*/
.equipe{
    display: flex;
    margin-top: 4%;
    justify-content: center;
    background-image: url(Cafe1/equipe.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}
.equipe__titulo{
    display: flex;
    flex-direction: column;
    text-align: center;
    color: antiquewhite;
    margin-right: 60%;
    margin-left: 5%;
    margin-top: 12%;
    margin-bottom: 12%;
}
.equipe__titulo h2{
    font-size: 40px;
    margin-bottom: 15px;
}
.equipe__titulo p{
    font-size: 28px;
}

/*nOSSAS LOJAS
==============================================================*/
.lojas{
    display: flex;
    flex-direction: column;
    margin-bottom: 8%;
}
.lojas__titulo{
    display: flex;
    justify-content: center;
    margin-top: 4%;
}
.lojas__titulo h2{
    color: #6e3f31;
    font-size: 40px;
}
.lojas__enderecos{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 4%;
    margin-right: 4%;
    margin-left: 4%;
}
.loja1{
    display: flex;
    flex-direction: column;
    background-color: blue;
    border-radius: 10px;
    height: 325px;
    width: 700px;
    overflow: hidden;
}
.loja1__imagem{
    display: flex;
    justify-content: center;
    transform: scale(1.2);
    transition: all 210ms ease-in;
}
.loja1:hover .loja1__imagem{
    transform: scale(1);
}
.loja1__titulo{
    display: flex;
    flex-direction: column;
    color: antiquewhite;
    margin-top: 50%;
    transition: all 210ms ease-in;
    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(0,0,0,1) 100%);
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 10%;
    padding-top: 10%;
    margin-top: -10%;
    z-index: 1;
}
.loja1:hover .loja1__titulo{
    margin-top: -30%;
}

.loja2{
    display: flex;
    flex-direction: column;
    background-color: blue;
    border-radius: 10px;
    height: 325px;
    width: 700px;
    overflow: hidden;
}
.loja2__imagem{
    display: flex;
    justify-content: center;
    transform: scale(1.1);
    transition: all 210ms ease-in;
    margin-top: -5%;
}
.loja2:hover .loja2__imagem{
    transform: scale(0.9);
}
.loja2__titulo{
    display: flex;
    flex-direction: column;
    color: antiquewhite;
    margin-top: 50%;
    transition: all 210ms ease-in;
    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(0,0,0,1) 100%);
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 10%;
    padding-top: 10%;
    margin-top: -10%;
    z-index: 1;
}
.loja2:hover .loja2__titulo{
    margin-top: -25%;
}


/*fOOTER
==============================================================*/
.footer{
    background: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    color: antiquewhite;
    padding-top: 5%;
    padding-bottom: 4%;  
}
.footer__contatos{
    display: flex;
    flex-direction: column;
    text-align: right;
    margin-right: 2%;
}
.footer__contatos h2{
    padding-bottom: 5%;
}
.footer__contatos ul li{
    color: antiquewhite;
    padding-bottom: 3%;
}
.footer__sociais{
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-left: 2%;
}
.footer__sociais h2{
    padding-bottom: 5%;
}
.footer__sociais ul li{
    color: antiquewhite;
    padding-bottom: 3%;
}


/* mEDIAS
============================================================*/
@media(max-width: 1440px){
    /* mAIN */
    .main__titulo{
        display: flex;
        text-align: center;
        flex-direction: column;
        width: 100%;
        max-width: 1140px;
        color: antiquewhite;
    }
    /* lOJAS */

    .lojas__enderecos{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin-top: 4%;
        margin-right: 1%;
        margin-left: 1%;
    }
    .loja1{
        display: flex;
        flex-direction: column;
        background-color: blue;
        border-radius: 10px;
        height: 250px;
        width: 600px;
        overflow: hidden;
    }
    .loja1:hover .loja1__titulo{
        margin-top: -45%;
    }
    .loja2{
        display: flex;
        flex-direction: column;
        background-color: blue;
        border-radius: 10px;
        height: 250px;
        width: 600px;
        overflow: hidden;
    }
    .loja2:hover .loja2__titulo{
        margin-top: -40%;
    }
}



@media(max-width: 1024px){
    /* mAIN */
    .main__titulo{
        display: flex;
        text-align: center;
        flex-direction: column;
        width: 100%;
        max-width: 884px;
        color: antiquewhite;
    }
    .main__titulo h1{
        display: flex;
        justify-content: center;
        font-size: 30px;
        padding-bottom: 10px;
    }
    .main__titulo p{
        display: flex;
        font-size: 20px;
    
    }
    /*mAIN 2 */
    
    .main2__titulo{
        display: flex;
        flex-direction: column;
    }
    .main2__titulo h1{
        font-size: 30px;
        color: #6e3f31;
        padding-bottom: 10px;
    }
    .main2__titulo p{
        font-size: 20px;
        color: #6e3f31;
    }

    /* mAIN2
========================================================== */
.main2__container{
    display: flex;
}

.main2{
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 4%;
}
.main2__titulo{
    display: flex;
    flex-direction: column;
}
.main2__titulo h1{
    font-size: 40px;
    color: #6e3f31;
    padding-bottom: 10px;
}
.main2__titulo p{
    font-size: 25px;
    color: #6e3f31;
}
.main2__produtos{
    display: flex;
    margin-top: 5%;
    flex-direction: column;
    justify-content: space-around;
    margin-right: 7.5%;
    margin-left: 10%;
    position: relative;
    overflow: hidden;
}


/* pRODUTOS 2
===================================*/
.main2__produtos2{
    display: flex;
    margin-top: 5%;
    flex-direction: column;
    justify-content: space-around;
    margin-right: 10%;
    margin-left: 7.5%;
    position: relative;
    overflow: hidden;
}
.main2__produto1{
    margin-bottom: 5%;
}
.main2__produto2{
    margin-bottom: 5%;
}
.main2__produto4{
    margin-bottom: 5%;
}
.main2__produto5{
    margin-bottom: 5%;
}


    /* lOJAS */
    
    .lojas__enderecos{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 4%;
        margin-right: 20%;
        margin-left: 20%;
    }
    .loja1{
        display: flex;
        flex-direction: column;
        background-color: blue;
        border-radius: 10px;
        height: 250px;
        width: 600px;
        margin-bottom: 2%;
        overflow: hidden;
    }
    .loja1:hover .loja1__titulo{
        margin-top: -45%;
    }
    .loja2{
        display: flex;
        flex-direction: column;
        background-color: blue;
        border-radius: 10px;
        height: 250px;
        width: 600px;
        margin-top: 2%;
        overflow: hidden;
    }
    .loja2:hover .loja2__titulo{
        margin-top: -40%;
    }
}



@media (max-width: 768px){

/*mAIN 
===========================================================*/
.main__titulo{
    display: flex;
    text-align: center;
    flex-direction: column;
    width: 100%;
    max-width: 663px;
    color: antiquewhite;
}

/* mAIN2
========================================================== */
.main2__container{
    display: flex;
}

.main2{
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    padding-left: 4%;
    padding-right: 4%;
    padding-top: 4%;
}
.main2__titulo{
    display: flex;
    flex-direction: column;
    max-width: 663px;
}
.main2__titulo h1{
    font-size: 32px;
    color: #6e3f31;
    padding-bottom: 10px;
}
.main2__titulo p{
    font-size: 22.5px;
    color: #6e3f31;
}
.main2__produtos{
    display: flex;
    margin-top: 5%;
    flex-direction: column;
    justify-content: space-around;
    margin-right: 4%;
    margin-left: 3%;
    position: relative;
    overflow: hidden;
}


/* pRODUTOS 2
===================================*/
.main2__produtos2{
    display: flex;
    margin-top: 5%;
    flex-direction: column;
    justify-content: space-around;
    margin-right: 3%;
    margin-left: 4%;
    position: relative;
    overflow: hidden;
}

    /* lOJAS */
    
    .lojas__enderecos{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 4%;
        margin-right: 15%;
        margin-left: 15%;
    }
    .loja1{
        display: flex;
        flex-direction: column;
        background-color: blue;
        border-radius: 10px;
        height: 175px;
        width: 500px;
        margin-bottom: 2%;
        overflow: hidden;
    }
    .loja1:hover .loja1__titulo{
        margin-top: -66%;
    }
    .loja2{
        display: flex;
        flex-direction: column;
        background-color: blue;
        border-radius: 10px;
        height: 175px;
        width: 500px;
        margin-top: 2%;
        overflow: hidden;
    }
    .loja2:hover .loja2__titulo{
        margin-top: -61%;
    }

    /* fOOTER */
    .footer__contatos{
        display: flex;
        flex-direction: column;
        text-align: right;

    }
    .footer__sociais{
        display: flex;
        flex-direction: column;
        text-align: left;

    }
}
@media (max-width: 425px){
    /* mAIN */
    .main__titulo{
        display: flex;
        text-align: center;
        flex-direction: column;
        width: 100%;
        max-width: 360px;
        color: antiquewhite;
    }

    /* mAIN2 */
    .main2__container{
        display: flex;
        margin-right: -2%;
    }
    
    .main2{
        display: flex;
        text-align: center;
        justify-content: center;
        flex-direction: column;
        padding-left: 4%;
        padding-right: 4%;
        padding-top: 4%;
    }

    .main2__titulo{
        display: flex;
        flex-direction: column;
        max-width: 360px;
        margin-left: 3%;
    }
    .main2__titulo h1{
        font-size: 32px;
        color: #6e3f31;
        padding-bottom: 15px;
    }
    .main2__titulo p{
        font-size: 22.5px;
        color: #6e3f31;
    }

    /* mENU */
    .nav__normal{
        display: none;
    }
    .one, .two, .three{
        background-color: #6e3f31;
        height: 5px;
        width: 100%;
        margin: 6px auto;

        transition-duration: 300ms;
    }
    .nav__toggle{
        width: 40px;
        height: 30px;
    }

    /* fULLSCREEN */
    .header__nav.on{
        position: absolute;
        top: 0;
        left: 0;

        width: 100vw;
        height: 100vh;

        background: rgb(252, 245, 236);
        
        z-index: 10;
        
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .header__nav.on .nav__normal{
        display: block;
    }
    .header__nav.on .nav__toggle{
        position: absolute;
        right: 15px;
        top: 15px;
    }
    .header__nav.on .nav__toggle .one{
        transform: rotate(45deg) translate(7px, 7px);
    }
    .header__nav.on .nav__toggle .two{
        opacity: 0;
    }
    .header__nav.on .nav__toggle .three{
        transform: rotate(-45deg) translate(8px, -9px);
    }


    .header__nav.on .nav__normal ul{
        text-align: center;
        display: block;
    }
    .header__nav.on .nav__normal ul li{
        flex-direction: column;
    }
    .header__nav.on .nav__normal ul a{
        transition-duration: 500ms ;
        font-size: 25px;
        line-height: 60px;
        display: block;
    }
    .header__nav.on .nav__normal ul li{
        border-radius: 10px;
        padding-left: 10px;
        padding-right: 10px;
        background: none;
        transition: all 240ms ease-in;
    }

    .header__nav.on .nav__normal ul li:hover{
        background: rgb(252, 224, 188);
    }

/* mAIN2
========================================================== */
.main2__container{
    display: flex;
    flex-direction: column;
}

.main2{
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    padding-left: 4%;
    padding-right: 4%;
    padding-top: 4%;
}
.main2__titulo{
    display: flex;
    flex-direction: column;
}
.main2__titulo h1{
    font-size: 32px;
    color: #6e3f31;
    padding-bottom: 10px;
}
.main2__titulo p{
    font-size: 22.5px;
    color: #6e3f31;
}
.main2__produtos{
    display: flex;
    margin-top: 5%;
    flex-direction: column;
    justify-content: space-around;
    margin-right: 10%;
    margin-left: 10%;
    position: relative;
    overflow: hidden;
}
/* pRODUTOS 2
===================================*/
.main2__produtos2{
    display: flex;
    margin-top: 5%;
    flex-direction: column;
    justify-content: space-around;
    margin-right: 10%;
    margin-left: 10%;
    position: relative;
    overflow: hidden;
}

    /*eQUIPE*/
    .equipe__titulo{
        display: flex;
        flex-direction: column;
        text-align: center;
        background: rgba(46, 28, 12, 0.2);
        border-radius: 10px;
        color: antiquewhite;
        margin-right: 20%;
        margin-left: 20%;
        margin-top: 12%;
        margin-bottom: 12%;
    }
    .equipe__titulo h2{
        font-size: 25px;
        margin-bottom: 15px;
    }
    .equipe__titulo p{
        font-size: 20px;
    }

    /* lOJAS */
    .lojas__titulo h2{
        color: #6e3f31;
        font-size: 25px;
    }
    
    .lojas__enderecos{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 4%;
        margin-right: 15%;
        margin-left: 15%;
    }
    .loja1{
        display: flex;
        flex-direction: column;
        background-color: blue;
        border-radius: 10px;
        height: 105px;
        width: 300px;
        margin-bottom: 2%;
        overflow: hidden;
    }
    .loja1:hover .loja1__titulo{
        margin-top: -66%;
    }
    .loja2{
        display: flex;
        flex-direction: column;
        background-color: blue;
        border-radius: 10px;
        height: 105px;
        width: 300px;
        margin-top: 2%;
        overflow: hidden;
    }
    .loja2:hover .loja2__titulo{
        margin-top: -61%;
    }

    /* fOOTER */
.footer__contatos h2{
    padding-bottom: 5%;
    font-size: 20px;
}
.footer__contatos ul li{
    color: antiquewhite;
    padding-bottom: 3%;
    font-size: 16px;
}
.footer__sociais h2{
    padding-bottom: 5%;
    font-size: 20px;
}
.footer__sociais ul li{
    color: antiquewhite;
    padding-bottom: 3%;
    font-size: 16px;
}
}
@media (max-width: 390px){
/* mAIN 2 */
.main2__produtos{
    margin-right: 2%;
    margin-left: 8%;
}
.main2__produtos2{
    margin-right: 2%;
    margin-left: 8%;
}
}